<web-app>
<servlet>
<servlet-name>DisplayPart8Servlet</servlet-name>
<servlet-class>DisplayPart8Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DisplayPart8Servlet</servlet-name>
<url-pattern>/displaypart8</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Part10Servlet</servlet-name>
<servlet-class>Part10Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Part10Servlet</servlet-name>
<url-pattern>/display</url-pattern>
</servlet-mapping>

<security-constraint>
      <web-resource-collection>
         <web-resource-name>Part7</web-resource-name>
         <url-pattern>/part7.jsp</url-pattern>
         <http-method>GET</http-method>
      </web-resource-collection>

      <auth-constraint>
         <role-name>user</role-name>
      </auth-constraint>
   </security-constraint>
   
   <security-role>
      <role-name>user</role-name>
   </security-role>
   
<login-config>
   <auth-method>BASIC</auth-method>
   <realm-name>Authorized Users Only</realm-name>
</login-config>
</web-app>